.customHeader {
  width: 100%;
  height: 100px; /* Altura del header */
  background-color: #000000; /* Color de fondo */
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
  top: 0;
  left: 0;
  z-index: 50;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

.customHeader img {
  width: 250px; /* Ajusta el tamaño de la imagen */
  height: auto; /* Mantiene la proporción */
  object-fit: contain; /* Evita que se deforme */
}

.TextoSuperior {
  position: absolute;
  top: 30%; /* Ajusta la distancia desde la parte superior */
  left: 50%;
  transform: translateX(-50%); /* Centra el texto horizontalmente */
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
  padding: 10px 20px;
  border-radius: 8px;
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Estilo para las imágenes */
.Imagen1 img,
.Imagen2 img {
  width: 170px; /* Ajusta el ancho de las imágenes */
  height: 270px; /* Ajusta la altura (para imágenes verticales) */
  object-fit: cover; /* Recorta la imagen para que mantenga proporciones */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra sutil */
  transition: transform 0.3s ease-in-out; /* Efecto suave al pasar el cursor */
}

/* Efecto hover */
.Imagen1 img:hover,
.Imagen2 img:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el cursor */
}

/* Contenedor individual de cada imagen */
.Imagen1,
.Imagen2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

}

.TituloS2 {
  position: relative;
  top: 10%;
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .section-1 {
    height: 150vh;
    background-color: #000000
  }
  
  .section-3 {
    background-color: #FDF0D5;
  }

.section3-left{
  position: relative;
  top: 10%;
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;

}
/* Estilos para el título encima de la tabla */
.titulo-horarios {
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Estilos generales de la tabla */
.custom-table {
  width: 100%;
  margin: 3px auto;
  border-collapse: collapse;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: white; /* Texto blanco en toda la tabla */
}

/* Fondo y color de letra en los encabezados */
.custom-table thead {
  background-color: #ff5733; /* Fondo naranja intenso */
  color: white; /* Texto blanco */
}

/* Fondo y color de letra en las celdas */
.custom-table th,
.custom-table td {
  border: 2px solid black;
  padding: 15px;
  text-align: center;
}

/* Cambiar fondo y color de texto de las filas pares */
.custom-table tbody tr:nth-child(even) {
  background-color: #444; /* Gris oscuro */
  color: #ffcc00; /* Texto amarillo */
}

/* Cambiar fondo y color de texto de las filas impares */
.custom-table tbody tr:nth-child(odd) {
  background-color: #666; /* Gris medio */
  color: #00ffcc; /* Texto celeste */
}
  
  .section-4 {
    background-color: #669BBC; /* Amarillo */
    height: 150vh;
  }

  .cartas-container {
    display: flex;
    flex-direction: row; /* Ahora se alinean en columna */
    align-items: center; /* Centra las cartas en la página */
    gap: 15px; /* Espaciado entre cartas */
    margin-top: 20px;
  }
  
  .card {
    max-width: 220px;
    max-height: 400px;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .description {
    font-size: 14px;
    margin-top: 10px;
    color: #555;
  }
  
  .price-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .price-list li {
    text-align: left;
    font-size: 13px;
    margin: 5px 0;
  }
  
  .BotonCarta {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    color: rgb(255 255 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    padding: 0.75rem 1.5rem;
    background-color: rgb(33 150 243);
    border-radius: 0.5rem;
    width: 90%;
    text-shadow: 0px 4px 18px #2c3442;
}
  
  .BotonCarta:hover {
    background: #0056b3;
  }
  
  .section-5 {
    background-color: #c1121f; /* Amarillo */
  }

  .section-2 {
    background-color: #003049
  }
  
  .section2-left {
    width: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #003049;
  }

  .section2-right {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #003049;
  }

  .section2-bottom {
    width: 100%;
    height: 5%;
    text-align: left;  /* Alinea el texto a la izquierda */
    padding-left: 40px; /* Agrega espacio desde el borde izquierdo */
    background-color: #003049;
    color: white;
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12px;
    font-weight: bold;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .list {
    text-align: left;
    font-size: 1.2rem;
    list-style-type: disc;
    padding-left: 20px;
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


/* Ajusta el tamaño y alineación del carrusel */
.carrusel {
  width: 100%;
  height: 50vh; /* Define un tamaño fijo */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.carrusel-container {
  width: 100%;
  height: 300vh; /* Tamaño fijo */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  object-fit: contain;
}

.carrusel-container img {
  max-width: 400px;
  max-height: 400px;
  object-fit: conver; /* Muestra la imagen completa sin recortar */
}


/* Asegura que las imágenes se adapten bien */
.carrusel img {
  width: 200%;
  height: 200%;
  object-fit: contain; /* Mantiene la proporción sin recortar */
}

/* Estilos adicionales para los botones del carrusel */
.carousel-control-prev,
.carousel-control-next {
  filter: invert(1); /* Cambia el color de los botones para que sean visibles */
}

.carousel-control-prev {
  left: 10px; /* Ajusta la distancia del borde izquierdo */
}

.carousel-control-next {
  right: 10px; /* Ajusta la distancia del borde derecho */
}

.carousel-indicators .active {
  background-color: red; /* Color del punto activo */
}

/* From Uiverse.io by cssbuttons-io */ 
button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
 }
 
 .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
     to left,
     hsl(340deg 100% 16%) 0%,
     hsl(340deg 100% 32%) 8%,
     hsl(340deg 100% 32%) 92%,
     hsl(340deg 100% 16%) 100%
   );
 }
 
 .front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 button:hover {
  filter: brightness(110%);
 }
 
 button:hover .front {
  transform: translateY(-6px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
 }
 
 button:hover .shadow {
  transform: translateY(4px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
 }
 
 button:focus:not(:focus-visible) {
  outline: none;
 }

.ListaS2 {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
}


  